@import url("./styles/header.css");
@import url("./styles/main.css");
@import url("./styles/carrosel.css");
@import url("./styles/container.css");
@import url("./styles/topicos.css");
@import url("./styles/rodape.css");
@import url("./styles/rodape_final.css");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

:root {
  --cor-de-fundo: #ebecee;
  --cor-de-branco: #ffffff;
  --cor-black: #000000;
  --cor-laranja: #eb9b00;
  --cor-azul: #002f52;
  --fonte-principal: "poppins";
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 1rem;
}
